.personal-main__section {
  .rows-personal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
  }

  .item:hover {
    .name {
      color: #2081ea;
      transition: .3s ease;
    }
  }

  .row .item {
    padding: 30px;
    border-radius: 30px;
    background: #fff;

    .image img {
      border-radius: 25px;
      width: 100%;
      display: block;
    }

    .descr {
      margin-top: 30px;
      text-align: center;

      .name {
        font-weight: 600;
        font-size: 20px;
        transition: .3s ease;
      }

      .desc {
        font-size: 15px;
        margin-top: 10px;
      }

      .stage {
        color: #a8a8a8;
        margin-top: 25px;
      }
    }
  }
}

.doctor-content__section {
  .row {
    align-items: center;

    .left {
      img {
        width: 100%;
        border-radius: 25px;
      }
    }
  }
}

.instagram-gallery__actions {
  display: none !important;
}

.instagram-gallery-square .instagram-gallery-item__media-wrap {
  border-radius: 25px;
}

.content-page__section h4 {
  font-weight: 500;
  padding-bottom: 25px;
  font-size: 20px;
}

.content-page__section blockquote {
  background: #fae8d5;
  margin-bottom: 25px;
  padding: 25px;
  border-radius: 10px;

  p {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}

.page-template-doctor-single {
  .personal-page__section {
    background: transparent;
  }
}

.content-page__section hr {
  border-top: 1px solid #dedede;
  margin-bottom: 20px;
}

@media screen and (max-width: 1280px) {
  .personal-main__section .row .item {
    padding: 0px;
  }
}

@media screen and (max-width: 900px) {
  .personal-main__section .rows-personal {
    grid-template-columns: repeat(3, 1fr);
  }
  .doctor-content__section {
    .row {
      grid-template-columns: 1fr 1fr;
      gap: 50px;
      align-items: flex-start;

      .right {
        padding: 0px;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .personal-main__section .rows-personal {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .doctor-content__section {
    .row {
      grid-template-columns: 1fr;
      gap: 35px;
      align-items: flex-start;

      .right {
        padding: 0px;
      }
    }
  }
  .services-page__section .row .column .col-bot ul li {
    text-align: left !important;
  }
}

@media screen and (max-width: 440px) {
  .personal-main__section .rows-personal {
    grid-template-columns: repeat(1, 1fr);
  }
  .hero-page__section .row .left {
    padding: 40px 25px;
  }
  .hero-page__section .row .left h1 {
    font-size: 24px;
  }
  .hero-page__section .row .left p {
    padding: 25px 0px
  }
  .btn-default {
    width: 230px
  }
  .advantages-page__section .row .left .advantages-section .column {
    gap: 10px;
  }
  .advantages-page__section .row .left .advantages-section .column .icon svg {
    height: 55px;
    width: 55px;
  }
}

@media screen and (max-width: 380px) {
  .advantages-page__section .row .left .advantages-section .column .icon svg {
    height: 35px;
    width: 35px;
  }
  .advantages-page__section .row .left .advantages-section .column .text .title {
    font-size: 14px;
  }
  .advantages-page__section .row .left .advantages-section .column .text .descr {
    font-size: 12px;
  }
}

@media screen and (max-width: 850px) {
  .hero-page__section .row .left {
    order: 2
  }
}

.hp-loading {
  background: transparent !important;
}

@media screen and (min-width: 1180px) {
  .hero-page__section .row .right img {
    display: block;
    width: 650px
  }
}